/* CSS Document */

body {
	overflow-x: hidden;
}

footer {
	border-top: 5px solid #fff;
	position: relative;
	height: 80px;
	width: 101%;
	left: -10px;
	background-color: rgba(51,51,51,1);
	color: #fff;
}

footer ul {
	list-style-type: none;
	margin-left: 30%;
}

@media (max-width: 1200px) {
	footer ul {
		margin-left: 15%;
	} 
}

@media (max-width: 1620px) {
	footer ul {
		margin-left: 22%;
	}
}

footer li {
	float: left;
	margin-left: ;
	border-right: 1px solid #fff;
	padding-right: 15px;
	padding-left: 15px;
	height: 50px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #c00;
}

footer p {
	display: inline;
	font-size: 1em;
	color: #fff;
}

#history_html {
	margin-left: 20%;
}

@media (max-width: 1200px) {
	#history_html {
		margin-left: 5%;
	}
}

@media (max-width: 1000px) {
	footer ul {
		margin-left: 3%;
	}
}

		/* Park Rulles Css */
footer dl {
	list-style-type: none;
	margin-left: 30%;
}

@media (max-width: 1200px) {
	footer dl {
		margin-left: 15%;
	} 
}

@media (max-width: 1620px) {
	footer dl {
		margin-left: 22%;
	}
}

footer dt {
	float: left;
	margin-left: ;
	border-right: 1px solid #fff;
	padding-right: 15px;
	padding-left: 15px;
	height: 50px;
	font-size: 1em;
}

#clear_p {
	background-color:  transparent;
	position: relative;
	top: 0px;
	box-shadow: none;
}

	/* Events Page Footer Css */
#align_p {
	position: relative;
	top: 0px;
	left: -2px;
}

footer img {
	padding: 0px;
}

#hist_footer {
	margin-left: 25%;
}

@media (max-width: 1650px) {
	#hist_footer {
		margin-left: 20%;
	}
}

@media (max-width: 1450px) {
	#hist_footer {
		margin-left: 15%;
	}
}

@media (max-width: 1250px) {
	#hist_footer {
		margin-left: 5%;
	}
}

/* Written Directions Css */
