/* CSS Document */

body {
	overflow-x: hidden;
}

footer {
	border-top: 5px solid #fff;
	position: relative;
	height: 100px;
	width: 101%;
	left: -10px;
	background-color: rgba(51,51,51,1);
	color: #fff;
}

footer ul {
	list-style-type: none;
	margin-left: 30%;
}

@media (max-width: 1200px) {
	footer ul {
		margin-left: 15%;
	} 
}

@media (max-width: 1620px) {
	footer ul {
		margin-left: 22%;
	}
}

footer li {
	float: left;
	margin-left: ;
	border-right: 1px solid #fff;
	padding-right: 15px;
	padding-left: 15px;
	height: 70px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #c00;
}

footer p {
	display: inline;
	font-size: 1em;
	color: #fff;
}

#history_html {
	margin-left: 20%;
}

@media (max-width: 1200px) {
	#history_html {
		margin-left: 5%;
	}
}

@media (max-width: 1000px) {
	footer ul {
		margin-left: 3%;
	}
}


/*
table {
	margin-left: ;
}

td {
	padding: ;
	border-right: 1px solid #fff;
	
}
table a {
	text-decoration: none;
	color: #fff;
}

table a:hover {
	color: rgba(204,51,51,1);
}

footer p {
	position: inherit;
	color: #fff;
	width: inherit;
	height: 10px;
	text-shadow: none;
	background-color: rgba(51,51,51,1);
	box-shadow: none;
}

footer a {
	
}

footer p {
	display: inline;
}
*/