/* CSS Document */

body {
	background-image: url(../images/backgrounds/big_sky_local.jpg);
	background-position: center;
	background-size: 100% 120%;
	background-attachment: fixed;
	font-family: arimo;
}

@font-face {
	font-family: arimo;
	src: url(../fonts/arimo-regular-webfont.eot),
	url(../fonts/arimo-regular-webfont.svg),
	url(../fonts/arimo-regular-webfont.ttf),
	url(../fonts/arimo-regular-webfont.woff);
}

nav {
	position: relative;
	margin-top: -20px;
}

h1 {
	position: relative;
	display: inline;
	color: #fff;
	top: 30px;
	width: 500px;
	text-align: center;
	font-size: 2em;
	margin: 0 0 0 190px;
	border: ;
	float: left;
	border-radius: 20px;
	box-shadow: 5px 5px 25px #000;
	text-shadow: 2px 2px 2px #000;
}

article {
	position: relative;
	width: 900px;
	height: auto;
	background-color: rgba(204,204,204,.7);
	margin: 0 auto 0 auto;	
	border-left: 5px solid #000;
	border-right: 5px solid #000; 
}

span {
	display: block;
	font-size: 22px;
	margin: 25px 0 0 0;
	padding: 15px;
	text-indent: 25px;
}


