body {
	width: 900px;
	margin: 50px auto 50px auto;
	background-image: url(../images/amazing_sunset_background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 120%;
	background-attachment: fixed; 
	font-family: arimo;
}

@font-face {
	font-family: arimo;
	src: url(../fonts/arimo-regular-webfont.eot),
	url(../fonts/arimo-regular-webfont.svg),
	url(../fonts/arimo-regular-webfont.ttf),
	url(../fonts/arimo-regular-webfont.woff);
}

table {
	border-spacing: 30px;
	float: left;
	margin-top: 50px;
}

td {
	padding: 10px 50px 10px 20px;
	font-size: 1.6em;
	border-radius: 25px;
	box-shadow: 5px 5px 25px #000;
	background-color: rgba(204,204,204,.4);
}

th {
	font-size: 2.4em;
	text-shadow: 2px 2px 10px #fff;	
}

tr {
	padding
}

nav {
	margin: -50px 0;
}

#reserve_rates {
	position: fixed;
	left: 0;
	top: 475px;
	width: ;
	background-color: rgba(255,255,255,.4);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 5px 5px 25px #000;
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
}

#reserve_rates a {
	text-decoration: none;
	color: #000;
}

#reserve_rates a:hover {
	color: #C00;
}

section {
	width: 600px;
	padding: 1px 5px 1px 20px;
	border-radius: 25px;
	box-shadow: 5px 5px 25px #000;
	background-color: rgba(204,204,204,.8);
	clear: both;
	margin-left: 75px;
}

section span {
	font-weight: bold;
	font-size: ;
}