@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/google_earth.jpg);
	background-position: center;
	background-size: 100% 120%;
	background-attachment: fixed;
	overflow-x: hidden;
}

nav {
	position: relative;
	margin-top: -20px;
}

article {
	position: relative;
	width: 900px;
	height: 1100px;
	background-color: rgba(204,204,204,.8);
/*	background-color: rgba(153,255,0,.6);*/
	margin: 0 auto 0 auto;	
	border-left: 5px solid #000;
	border-right: 5px solid #000;
	color: #262D21;
}

#small_logo {
	position: absolute;
	width: 200px;
	left: 100px;
	top: 60px;
}

p {
	text-shadow: rgba(241,0,0,.6) 1px 1px 3px; 
	font-size: ;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

#res_info {
	text-align: center;
}

section {
	float: left;
	clear: both;
/*	background-color: rgba(204,204,204,.7); */
	margin: 10px 0 0 80px;	
	padding: 15px;
	border-radius: 25px;
/*	box-shadow: 5px 5px 15px #000; */
}

h1 {
	font-size: 3em;
	text-align: center;
	clear: both;
	margin: 0 auto 0 auto;
	text-shadow: rgba(241,0,0,.5) 1px 1px 6px;
}

table {
	margin: 0 0 20px 0;
	border: 2px solid #000;
	width: 700px;
	padding: 5px;
	box-shadow: 5px 5px 5px #000;
}

th {
	font-size: 2.3em;
	padding:20px 20px 20px 30px;
}

td {
	font-size: 2em;
	text-align: left;
}

footer {
	position: relative;
	border-top: 5px solid #fff;
	height: 70px;
	width: 101%;
	left: -10px;
	margin-bottom: -20px;
	background-color: rgba(51,51,51,1);
	color: #fff;
}

footer table {
	margin: 0;
	margin-left: 20%;
	box-shadow: none;
	border: none;
	width: 1000px;
}

@media (max-width: 950px) {
	footer {
		font-size: 70%;
	}
}

footer td {
	font-size: 1em;
	border-right: 1px solid #fff;
	text-align: center;
}

footer a {
	color: #fff;
}

table a {
	text-decoration: none;
}

table a:hover {
	color: rgba(204,51,51,1);
}

