@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/google_earth.jpg);
	background-position: center;
	background-size: 100% 120%;
	background-attachment: fixed;
	font-family: arimo;
}

#wrapper {
	
}

@font-face {
	font-family: arimo;
	src: url(../fonts/arimo-regular-webfont.eot),
	url(../fonts/arimo-regular-webfont.svg),
	url(../fonts/arimo-regular-webfont.ttf),
	url(../fonts/arimo-regular-webfont.woff);
}

nav {
	position: relative;
	margin-top: -20px;
}

article {
	position: relative;
	width: 900px;
	height: 2350px;
	background-color: rgba(204,204,204,.9);
/*	background-color: rgba(153,255,0,.6);*/
	margin: 0 auto 0 auto;	
	border-left: 5px solid #000;
	border-right: 5px solid #000;
	color: #262D21;
}

#small_logo {
	position: absolute;
	width: 200px;
	left: 100px;
	top: 60px;
}

p {
	float: left;
	clear: both;
/*	text-shadow: rgba(204,0,0,1) 2px 2px 15px; */
	font-size: ;
	
}

section {
	float: left;
	clear: both;
/*	background-color: rgba(204,204,204,1);  */
	margin: 20px 0 0 40px;	
	padding: 10px;
	border-radius: 25px;
/*	box-shadow: 5px 5px 15px #000; */
	color: #000;
}

section p {
	font-size: 2em;
}

section a {
	text-decoration: none;
	font-size: 1.5em;
	color: rgba(153,51,0,1);
	margin: 0 0 0 80px;
}

section a:hover {
	color: #000;
	font-size: 2em;
}

dl {
	clear: both;
	margin: 0 0 0 50px;
	font-size: 1.5em;
}

h1 {
	font-size: 2.8em;
	text-align: center;
	clear: both;
	margin: 0 auto 0 auto;
}


