/* CSS Document */

body {
	background-color: rgba(102,102,102,.5); 
	width: 101%;
	margin-left: auto;
	margin-right: auto;
	
}

header {
	position: relative;
	width: 101%;
	left: -10px;
	height: 20em;	
	background-image: url(../images/events/big_sky.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: -30px 0 0 0; /* Top of page adjustement */
}

header p {
	text-shadow: 2px 2px 3px #96F;
}

@media (max-width:1150px) {
	p {
	position: relative;
	text-align: center;
	top: 70px;
	left: 15%;
	width: 600px;
	font-size: 1.5em;
	color: #000;
}
}

@media (min-width:1151px) {
	p {
	position: relative;
	text-align: center;
	top: 70px;
	left: 25%;
	width: 600px;
	font-size: 1.5em;
	color: #000;
}
}

@media (min-width:1550px) {
p {
	position: relative;
	text-align: center;
	top: 60px;
	left: 30%;
	width: 600px;
	font-size: 1.7em;
	color: #000;
	
}
} 

article {
	border-bottom: 5px solid #fff;
	border-top: 5px solid #fff;
}

h1 {
	background-color: rgba(204,0,0,.5);
	box-shadow: 5px 5px 25px #000;
	border-radius: 25px;
	padding: 10px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 10px;
	text-align: center;
	font-size: 1.8em;
	
}

@media (max-width:1150px) {
	#one {
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url(../images/events/upper_shelter_wide.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 101%;
		background-position: bottom;
	}
}

@media (min-width:1151px) {
#one {
	position: relative;
	width: 100%;
	height: 500px;	
	background-image: url(../images/events/upper_shelter_wide.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

@media (min-width:1550px) {
#one {
	position: relative;
	width: 100%;
	height: 600px;	
	background-image: url(../images/events/upper_shelter_wide.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

/* Two */
@media (max-width:1150px) {
	#two {
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url(../images/events/field_play_area.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 101%;
		background-position: bottom;
	}
}

@media (min-width:1151px) {
#two {
	position: relative;
	width: 100%;
	height: 500px;	
	background-image: url(../images/events/field_play_area.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

@media (min-width:1550px) {
#two {
	position: relative;
	width: 100%;
	height: 600px;	
	background-image: url(../images/events/field_play_area.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}


/* Three */
@media (max-width:1150px) {
	#three {
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url(../images/events/baseball.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 101%;
		background-position: bottom;
	}
}

@media (min-width:1151px) {
#three {
	position: relative;
	width: 100%;
	height: 500px;	
	background-image: url(../images/events/baseball.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

@media (min-width:1550px) {
#three {
	position: relative;
	width: 100%;
	height: 600px;	
	background-image: url(../images/events/baseball.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}


/* Four */
@media (max-width:1150px) {
	#four {
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url(../images/events/wedding.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 101%;
		background-position: bottom;
	}
}

@media (min-width:1151px) {
#four {
	position: relative;
	width: 100%;
	height: 500px;	
	background-image: url(../images/events/wedding.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

@media (min-width:1550px) {
#four {
	position: relative;
	width: 100%;
	height: 600px;	
	background-image: url(../images/events/wedding.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}


/* Five */
@media (max-width:1150px) {
	#five {
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url(../images/events/other.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 101%;
		background-position: bottom;
	}
}

@media (min-width:1151px) {
#five {
	position: relative;
	width: 100%;
	height: 500px;	
	background-image: url(../images/events/other.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}

@media (min-width:1550px) {
#five {
	position: relative;
	width: 100%;
	height: 600px;	
	background-image: url(../images/events/other.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 101%;
	background-position: bottom;
}
}



